<template>
  <div class="about container-fluid mt-5">
    <div class="container-fluid">
      <h1>{{ msg }}</h1>
      <h1>狀態:{{ status }}</h1>
      <input type="text" class="form-control" v-model="username" />
      <button class="btn btn-primary" @click="updateUsername">更新姓名</button>
    </div>
    <div class="container-fluid mt-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Record</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item, i) in listData" :key="item.id.value" :class="{'bg-info':item.selected}">
            <th scope="row">{{ i + 1 }}</th>
            <td><img :src="item.picture.medium" /></td>
            <td>{{ item.name.first }} {{ item.name.last }}</td>
            <td>{{ item.email }}</td>
            <td><button class="btn btn-outline-primary" @click="clickMe(item)">點我</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "about",
  //接收父類資料
  props: ["status"],
  data() {
    return {
      msg: "演示取得資料呈現在畫面上!",
      listData: [],
      username: "",
    };
  },
  // 自定義method
  methods: {
    // es6縮寫
    getData() {
      let vm = this;
      vm.axios
        .get("https://randomuser.me/api/?results=50")
        .then(function (response) {
            console.log(response);
            vm.listData = response.data.results;
            // 先改變資料結構, 增加屬性 , 因為取得的selected屬性,沒有提供setter,getter
            vm.listData.forEach(function(item){
                vm.$set(item,'selected',false)
            })
        })
        .catch(function (error) {
            console.log(error);
        });
    },
    // 丟資料給父類
    updateUsername() {
      let vm = this;
      vm.$emit("pushNewName", vm.username);
    },
    clickMe(item){
      item.selected = !item.selected
      console.log(item.selected)
    }
  },
  // VUE生命週期mounted
  mounted() {
    this.getData();
  },
};
</script>

