<template>
    <div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-body">
                <form @submit.prevent="login" >
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username" class="form-control" placeholder="username" v-model="userName">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="password" v-model="password">
                    </div>
                    <div class="row align-items-center remember">
                        <input type="checkbox">Remember Me
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a href="#">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
  name: "login",
  data() {
    return {
      userName: '',
      password: '',  
      msg: "演示取得資料呈現在畫面上!"
    };
  },
  // 自定義method
  methods: {
    login(){
        //write login authencation logic here!
        if( this.userName == 'abcd' && this.password == '1234' ){
            localStorage.setItem('token', 'Y')
            this.$router.push('/');
        } else{
            alert('login failed')
        }
    }
  }
};
</script>

