<template>
  <div class="Header">
     <div id="nav">
      <!-- 相當於左邊選單 -->
      <div class="form-inline mr-8">
        <router-link to="/">Home</router-link>|
        <!-- <router-link to="/about">About</router-link> | -->
        <router-link to="/aboutVuex">About By Vuex</router-link> |

        <select class="form-control" v-model="status" @change="changeStatus">
          <option value="線上!" selected>線上!</option>
          <option value="線下!">線下!</option>
        </select>
        | HI,{{ username }}
        | <button class="btn btn-outline-primary" @click="logout()">登出</button>
      </div>
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Header',
  data() {
    return {
      status: this.$store.state.vuexStatus
    };
  },
  methods: {
    // 將父類資料傳遞給子類
    changeStatus() {
      this.$store.state.vuexStatus = this.status;
    },
    logout() {
        localStorage.removeItem('token');
        this.$router.push('/login');
    }
  },
  // 從store取得資料
  computed: {
      username(){
        return this.$store.state.vuexUsername
      }
  },
}
</script>
